* {
	padding: 0;
	margin: 0;
}

#wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

body {
	text-align: left;
	font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

header {
    font-color: white;
    background-color: #ee3123;
    margin: 0 -9999rem 30px;
  /* add back negative margin value */
    padding: 0 9999rem 30px;
}

header img {
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    padding: .2em 0;
    line-height: 1.15em;
}

h2 {
    font-size: 30px;
    padding: .4em 0;
    line-height: 1.15em;
}

h3 {
    font-size: 20px;
    padding: .4em 0;
    line-height: 1.2em;
}

p {
	font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    padding: .4em 0;
    line-height: 1.2em;
}

p2 {
    font-size: 15px;
    font-weight: normal;
}

nav {
    background-color: white;
    padding-bottom: 40px;
}

nav img {
    margin-right: 40px;
}

nav a {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #ee3123;
    text-decoration: none;
    margin: 0 20px 0 0;
}

/*nav a img:hover {
    color: white;
    border-bottom: none;
}

*/
/*LoVe HAte*/

/*nav a:link {
    color: #ee3123;
}*/

nav a:hover {
    color: #ee3123;
    border-bottom: 4px solid;
    padding-bottom: 2px;
}

/*nav a:hover {
    color: #ee3123;
}

nav a:hover {
    color: #ee3123;
}*/

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

}

#intro {
    margin: 0 50px 80px 200px;
    color: white;
}


.container-white {
    background-color: white;
    color: black;
    padding: 50px 0;
}

.container-red {
    background-color: #ee3123;
    clear: both;
    color: white;
    margin: 0 -9999rem;
  /* add back negative margin value */
    padding: 50px 9999rem;
}

.container-black {
    background-color: black;
    clear: both;
    color: white;
    margin: 0 -9999rem;
  /* add back negative margin value */
    padding: 50px 9999rem;
}

.column {
    float: left;
    width: 200px;
    height: 600px;
    padding: .5em;
    margin: .5em;
    background-color: white;
}

.clearfix:after {
    visibility: hidden;
    height: 0;
    font-size: 0;
    content:" ";
    display: block;
    clear: both;
}

.picture: {
    float: right;
}

article {
    width: 700px;
    float: right;
}

aside {
    width: 330px;
    float: left;
    padding-right: 50px
}

#how img {
    padding: 15px 0 0 20px;
/*    width: 50%;
    height: 50%;
*/}

#who article {
    float: left;
}

#who aside {
    float: right;
}

#who img {
    /*size: 50%;*/
    margin-top: 75px;
}

#where {
    padding-right: 300px;
}

footer {
    background-color: #ee3123;
    color: white;
    margin: 0 -9999rem;
  /* add back negative margin value */
    padding-left: 9999rem;
    padding-right: 9999rem;
    /*margin-bottom: -100px;*/
}

footer img {
}
