<style>
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
</style>

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #ee3123;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3;
}

h1, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

a {
	color: #8A151A;
	text-decoration: none;
}

nav a {
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	text-transform: uppercase;
}

slogan {
	padding: 10px;
	font-style: italic;
	color: #ffffff;
}

ul {
    text-align: center;
    list-style-type: none;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
}

footer {
	padding: 20px;
}